<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1> Register </h1>
    <form action="/register" method="POST">
        <label for="username">Username: </label>
        <input type="text" placeholder="username" name="username" id="username">
        <label for="password">Password: </label>
        <input type="text" placeholder="password" name="password" id="password">
        <label for="name">name: </label>
        <input type="text" placeholder="name" name="name" id="name">
        <button>Submit</button>
    </form>
</body>
</html>
